#game-images-body {
  background: rgba(0, 0, 0, 0.9) url(/assets/backgroundgameQuestions.jpg);
  background-blend-mode: darken;
  background-size: cover;
  background-repeat: no-repeat;
}

#game-images-main {
  color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  color: #fafafa;
}

.question img {
  height: 100%;
  width: 100%;
}
.subtitle {
  font-size: 1rem;
}

.disappear {
  pointer-events: none;
  transform: scale(0);
  opacity: 0;
  transition: transform 0.1s ease-out, opacity 0.1s ease-out;
}

.appear {
  transform: scale(1);
  opacity: 1;
  pointer-events: auto;
  transition: transform 0.4s ease-out, opacity 0.4s ease-out;
}

@media (min-width: 768px) {
  #game-images-body {
    background: rgba(0, 0, 0, 0.9)
      url(/assets/backgroundQuerygameQuestions.webp);
    background-blend-mode: darken;
    background-size: cover;
    background-repeat: no-repeat;
  }

  #game-images-main {
    color: #fafafa;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.1rem;
    color: #fafafa;
  }

  .question img {
    height: 100%;
    width: 100%;
  }
  .subtitle {
    font-size: 2.5vh;
  }
}
