/* Estilos compartidos por todas las paginas */
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
/* Roboto */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
    --color-fonts-cyan: #3de5fe;
    --color-fonts-pink: #e305cd;
    --color-font-violet: #20203f;
}

* {
    padding: 0;
    box-sizing: border-box;
}

/* body */

body {
    color: #fafafa;
    background-color: #161616;
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: "Roboto", sans-serif;

}

#index-body {
    background: rgba(0, 0, 0, 0.8) url(/assets/backgroundGameQuestions.jpg);
    background-blend-mode: darken;
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center; /* Ajuste la posición del fondo al centro */
    height: 100vh; 
    width: 100%;
}

/* Respuestas */

button {
    margin: 1em;
    color: #fafafa;
    border: 1px solid #fafafa;
    width: 25em;
    height: 2.3em;
    background-color: transparent;
    transition: .5s;
}

.answer:hover {
    color: rgb(85, 228, 185);
    border-color: #e305cd;
    transform: scale(1.1);
}

/* Header */

.tittleQuestions___heartBeat {
    font-family: "Bangers", cursive;
    color: rgb(85, 228, 185);
    filter: drop-shadow(1px 2px 0.1px var(--color-fonts-pink));
    font-size: 4rem;
}

 /* Main */

 #index-main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    color: #fafafa;
    justify-content: space-evenly;
    text-align: center;
    text-justify: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

#gameQuestion {
    background-color: transparent;
    margin: 2em;
    text-align: center;
    width: 400px;
}

#question {
    background-color: transparent;
    border: 1px solid #fafafa;
    margin: 2em;
    padding: 2%;
}


/* navbar */

#navbar {
    font-family: "Roboto", sans-serif;
    text-align: left;
    width: 200px;
    /* Ancho de la barra dede fondo */
    padding: 20px;
    /* Espacio interno */
}

#navbar a {
    text-decoration: none;
    /*saco el subrayado*/
    margin-bottom: 10px;
    color: #fafafa;
}

/*Footer*/

.footer {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fafafa;
    width: 100%;
    position: absolute;
    bottom: 0;
    margin-left: 0;
  }
  
  .footer ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    list-style-position: outside;
    justify-content: space-evenly;
    align-items: center;
  }