#points-images-body {
    background: rgba(0,0,0,0.9)url(/assets/backgroundIndex.jpg);
    background-blend-mode: darken;
    background-size: cover;
    background-repeat: no-repeat;

}

#points-images-main{
    color: #fafafa;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    color: #fafafa;
}

a{
    color: #fafafa;
    text-decoration: none;
    
}




#points-gif img{
    width: 20vw;
    height: 20vh;
}

.points{
    font-family: "Bangers", cursive;
    color: var(--color-fonts-2);
    filter: drop-shadow(1px 1px 0.1px var(--color-fonts-1));
    font-size: 5vh;
}

.number{
    font-size: 5vh;
}

@media (min-width:768px){

    a{
        color: #fafafa;
        text-decoration: none;
        
    }
    
    #points-gif img{
        width: 25vw;
        height: 15vh;
    }
    
    .points{
        font-family: "Bangers", cursive;
        color: var(--color-fonts-2);
        filter: drop-shadow(1px 1px 0.1px var(--color-fonts-1));
        font-size: 5vw;
        margin-bottom: 0;
    }
    
    .number{
        font-size: 5vw;
         margin-top: 0;
         margin-bottom: 2rem;
    }
    

}